* {
    box-sizing: border-box;

}
body {
    background: #FFFFFF;
}
h1 {
    font-size: 30px;
    color: #1C1C1C;
}
h2 {
    font-size: 24px;
    color: #1C1C1C;
}
p {
    font-size: 18px;

}

.container {
    display: grid;
    grid-template-areas:
        "first first none1 none1 none1"
        "none2 second second second none3"
        "none4 none4 none4 third third";
    row-gap: 20px;

}

.first {
    grid-area: first;


    background-color: lightgrey;
}

.first:not(:last-child) {
    padding: 15px;
}

.second {
    grid-area: second;

    background-color: lightgrey;

}
.second:not(:last-child) {
    padding: 15px;
}

.third {
    grid-area: third;


    background-color: lightgrey;

}

.third:not(:last-child) {
    padding: 15px;
}